{
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-solidity"],
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "parser": "solidity-parse",
                "printWidth": 80,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": false
            }
        }
    ]
}
